<!-- Adding new category -->
<div class="mt-3 mb-4">
  <div class="row mb-3">
    <div class="col-10 col-md-10">
    </div>
    <div class="col-2 col-md-2">
        <button class="btn btn btn-info" type="button">Add New Category</button>
    </div>
  </div>

  <!-- Adding form -->
  <div *ngIf="true" class="row">
    <div class="offset-md-2 col-md-8 custom-form">
      <form>
        <div class="form-row">
          <div class="form-group col-md-5">
            <label for="categoryName">Name</label>
            <input type="text" class="form-control" id="categoryName" placeholder="Name">
          </div>
          <div class="form-group offset-md-2 col-md-5">
            <label for="categoryColor">Color</label>
            <input type="color" class="form-control" id="categoryColor" placeholder="Color">
          </div>
        </div>

        <div class="form-group">
          <label for="categoryDescription">Description</label>
          <textarea class="form-control" id="categoryDescription" rows="3"></textarea>
        </div>

        <div class="form-row">
            <div class="form-group offset-md-8 col-md-4 d-flex flex-row-reverse">
                <button type="button" class="btn btn-info ml-2">Save</button>
                <button type="button" class="btn btn-danger">Cancel</button>
            </div>
        </div>
        
      </form>
    </div>  
  </div>
</div>

<!-- Table of Categories -->
<div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="row"> 
              <input type="checkbox" class="" id="">
            </th>
            <th scope="col"  width="10%">#</th>
            <th scope="col"  width="15%">Name</th>
            <th scope="col"  width="15%">Color</th>
            <th scope="col"  width="40%">Description</th>
            <th  width="15%">
              <button style="background-color:transparent;border:none">
                <fa-icon [icon]="trash" style="color:red"></fa-icon>
              </button>
              
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories; let index = index;">
            <th width="10%" scope="row"> 
              <input type="checkbox" class="" id="">
            </th>
            <th width="10%" scope="row">{{category.number}}</th>
            <td width="15%">{{category.name}}</td>
            <td width="15%">{{category.color}}</td>
            <td width="40%">{{category.description}}</td>
            <td width="15%">
              <button style="background-color:transparent;border:none">
                <fa-icon [icon]="trash" style="color:red"></fa-icon>
              </button>
              
              <button style="background-color:transparent;border:none">
                  <fa-icon [icon]="edit" style="color:blue"></fa-icon>
                </button>
            </td>
          </tr>
        </tbody>
      </table>
</div>