<!-- Adding new category -->
<div class="mt-3 mb-4" style="overflow-x: hidden;">
  <div class="row mb-3">
    <div class="col-sm-10">
    </div>
    <div class="col-sm-2">
        <button class="btn btn-outline-primary" type="button" style="font-size:15px;" (click)="showCategoryForm()">New Category</button>
    </div>
  </div>

  <!-- Adding form -->
  <div *ngIf="showNewCategoryForm" class="row">
    <div class="offset-md-4 col-md-4 custom-form">
      <form [formGroup]="newCategoryForm" (ngSubmit)="onSubmit()">
        <div class="form-row d-flex justify-content-between">
          <div class="form-group col-md-5">
            <label>Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="Name"
              formControlName="name"
              [ngClass]="{'app-invalid': !newCategoryForm.controls['name'].valid && newCategoryForm.controls['name'].touched}">
          </div>
          <div class="form-group col-md-2">
            <label for="categoryColor">Color</label>
            <input type="color" class="form-control"  placeholder="Color" formControlName="color">
          </div>
        </div>

        <div class="form-group">
          <label for="categoryDescription">Description</label>
          <textarea
            class="form-control"
            rows="3"
            formControlName="description"
            [ngClass]="{'app-invalid': !newCategoryForm.controls['description'].valid && newCategoryForm.controls['description'].touched}">
          </textarea>
        </div>

        <div class="form-row">
            <div class="form-group offset-md-8 col-md-4 d-flex flex-row-reverse">
                <button type="submit" [disabled]="!newCategoryForm.valid" class="btn btn-primary ml-2" >Save</button>
                <button type="button" class="btn btn-danger" (click)="hideCategoryForm()">Cancel</button>
            </div>
        </div>

      </form>
    </div>
  </div>
</div>

<!-- Table of Categories -->
<div *ngIf="categories.length !== 0">
    <table class="table table-hover">
        <thead>
          <tr>
            <th class="text-center" scope="row">
              <input type="checkbox" class="" id="">
            </th>
            <th scope="col"  width="10%">#</th>
            <th scope="col"  width="15%">Name</th>
            <th scope="col"  width="15%">Color</th>
            <th scope="col"  width="40%">Description</th>
            <th  width="15%">
              <div class="d-flex flex-row-reverse mr-3">
                <button style="background-color:transparent;border:none">
                  <fa-icon [icon]="trash" style="color:red"></fa-icon>
                </button>
              </div>

            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories | paginate: { itemsPerPage: 10, currentPage: p } ; let index = index;">
            <th class="text-center" width="10%" scope="row">
              <input type="checkbox" class="" id="">
            </th>
            <th width="10%" scope="row">{{category.number}}</th>
            <td width="15%">{{category.name}}</td>
            <td width="15%" [ngStyle]="{'color':category.color}">{{category.color}}</td>
            <td width="40%">{{category.description}}</td>
            <td width="15%">
              <div class="d-flex flex-row-reverse mr-3">
                <button style="background-color:transparent;border:none">
                  <fa-icon [icon]="trash" style="color:red" (click)="deleteCategory(category)"></fa-icon>
                </button>

                <button style="background-color:transparent;border:none">
                    <fa-icon [icon]="edit" class="main-color"></fa-icon>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
    </table>
    <div class="mt-4 d-flex justify-content-around">
      <div>
        <label class="custom-label main-color mr-2">Results Per Page:</label>
        <select class='custom-select'>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

</div>



<!-- Empty category table -->
<div class="row mt-5" *ngIf="categories.length === 0">
  <div class="column offset-md-3 col-md-6">
    <div class="card" style="border-color:red">
      <div class="card-body d-flex justify-content-around">
        <p class="card-text" style="color:red">There are no categories, let's add the first one.</p>
      </div>
    </div>
  </div>
</div>
